# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
# next.js
# Ignore .next folder
# Ignore everything in .next
/.next/*

# But un-ignore the standalone folder itself (so we can access subfolders)
!/.next/standalone/

# Ignore everything inside standalone
/.next/standalone/*

# But keep the server folder and everything in it
!/.next/standalone/server.js

# Production folders
/build
/out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
