/* @import url('https://db.onlinewebfonts.com/c/513071b47bdba774c93a73ad16a75e3b?family=DIN+Next+LT+Arabic+Bold'); */
@import "tailwindcss";






:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
   
  }
}

@font-face {
	font-family: "DINNextLTArabic-Black";
	src: url("./assests/fonts/DINNextLTArabic-Black.ttf");
	font-weight: normal;
	font-style: normal;
 }
@font-face {
	font-family: "DINNextLTArabic-Bold";
	src: url("./assests/fonts/DINNextLTArabic-Bold.ttf");
	font-weight: normal;
	font-style: normal;
 }
@font-face {
	font-family: "DINNextLTArabic-Heavy";
	src: url("./assests/fonts/DINNextLTArabic-Heavy.ttf");
	font-weight: normal;
	font-style: normal;
 }
@font-face {
	font-family: "DINNextLTArabic-Light";
	src: url("./assests/fonts/DINNextLTArabic-Light.ttf");
	font-weight: normal;
	font-style: normal;
 }
@font-face {
	font-family: "DINNextLTArabic-Medium";
	src: url("./assests/fonts/DINNextLTArabic-Medium.ttf");
	font-weight: normal;
	font-style: normal;
 }
@font-face {
	font-family: "DINNextLTArabic-Regular";
	src: url("./assests/fonts/DINNextLTArabic-Regular.ttf");
	font-weight: normal;
	font-style: normal;
 }
@font-face {
	font-family: "DINNextLTArabic-UltraLight";
	src: url("./assests/fonts/DINNextLTArabic-UltraLight.ttf");
	font-weight: normal;
	font-style: normal;
 }




body {
      overflow-x: hidden;   
  /* font-family:  Arial, Helvetica, sans-serif; */
   font-family: 'DINNextLTArabic-Regular';
  
}
h1,h2,h3,h4 {
  font-family: 'DINNextLTArabic-Black','DINNextLTArabic-Bold';
}

.theme-bgcolor{
  background-color: #fdbd3f
}
  .theme-color {
    color: #fdbd3f
}


/* .head{
  font-family: "DIN Next LT Arabic Bold", sans-serif;
} */

 

 /* .font-Header {
  font-family: "DINNextLTArabic-Black', 'DINNextLTArabic-Bold";
  
} */

ul{
  font-family: 'DINNextLTArabic-Medium';
}



.position{
    font-family: 'DINNextLTArabic-Regular'
};

  .serviceboxes{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 5px;
    margin-top: -10%;
    position: relative;
  }
  .serviceboxes .card{
    width: 280px;
    border-radius: 0;
  }
    .serviceboxes .card > img{
    max-width: 100%;
    text-align: center;
  }
 .counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter-box{
    background-color: #ececec;
    margin-top: 70px;
    display: block;
}
.counter-box .heading{
    text-align: center;
}
.counter {
    text-align: center;
}
.counter h3 {
    padding: 0.5rem 0;
     font-size: 2.5rem; 
    font-weight: 800;
    color: #212529;
}

.counter h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.achieve .slick-dots li button:before {
  top: 138px !important;
    /* right: 111px ; */
}
.achieve .slick-dots li {
      right: 130% !important;
}

  .certificates{
    display: flex;
    justify-content: space-between;
    color: #53585b;
    flex-wrap: wrap;
     font-family: 'DINNextLTArabic-Regular';
    
  }
  .certificates img {
  width: 200px;
  border: 3px solid #fdbd3f;
  border-radius: 8px;
   font-family: 'DINNextLTArabic-Regular';
}

.certificates .text-cen {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
   font-family: 'DINNextLTArabic-Regular';
}

.certificates .cir-title {
  font-weight: bold;
}


.base-footer ul{
    list-style-type: none;
   
}

.basefooter{
  background-color: #ececec;
}
.base-footer ul li{
    margin-bottom: 5px;
    padding: 10px 0px;
}
.base-footer li a {
    text-decoration: none;
    color: #221e1f;
    font-weight: 500;
}

.base-footer .address{
  /* font-weight: 500; */
  color: #221e1f;
}

 
.form-control{
  display: block;
     font-size: 1rem;
    font-weight: 400;
 padding: .375rem .75rem;
 width: 100%;
 border:1px solid  #dee2e6 ;
  border-radius: 6px;
  /* margin-top: 10px; */
   line-height: 1.5;

 
 
 }

 .form-control:focus,
 .css-13cymwt-control:focus{
 
  border:1px solid  #86b7fe !important;
  outline: none !important;
 box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
 }
 
 

/* Base dropdown container setup */
.relative .form-control {
  appearance: none; /* hide native arrow */
  padding-right: 2.5rem; /* space for custom arrow */
}

/* Common dropdown toggle */
.dropdown-toggle::after {
  content: "";
  position: absolute;
  top: 50%;

  border-top: 0.4em solid #333; /* arrow color */
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
 
}

/* LTR layout */
.ltr .dropdown-toggle::after {
  right: 1rem;
}

/* RTL layout */
.rtl .dropdown-toggle::after {
  left: 1rem;
}

/* react select style arrow */
.css-1u9des2-indicatorSeparator,
.css-1xc3v61-indicatorContainer,
.css-tj5bde-Svg{
  display: none !important;
}
.css-15lsz6c-indicatorContainer{
  padding: 10px !important;
  padding-top: 15px !important;
 
}








  

  .ba-img {
    position: relative;
    background-image: url("./assests/images/MawridWebsite2023-20.png");
    background-size: 100% 100%;
  }

.insideSlide{
  position: absolute;
    top: 100px;

    width: calc(100% - 40px);
}
.slides{
  border: 4px solid #fff;
  margin: 0 0 60px;
    background: #fff;
    
    position: relative;
}

/* Default LTR */
.ltr .slick-dots {
  position: absolute !important;
 top: 0px !important;
  left: 200px !important;

}

.rtl .slick-dots {
  position: absolute !important;
 top: 0px !important;
  right: 200px !important;
  /* flip side for RTL */
}

/* Dot style (common for both) */
.slick-dots li button:before {
  font-size: 15px !important;
  color: #000 !important;
  opacity: 0.5;
}
 /* Common styles */


/* Base dot style */
.banner .slick-dots {
  position: absolute !important;
  top: 0 !important;
  text-align: start !important;
}

.banner .slick-dots li button:before {
  color: white !important;
}

/* English (LTR) — dots on the RIGHT end */
.banner .ltr .slick-dots {
  left: 92% !important;
  right: auto !important;
}

/* Arabic (RTL) — dots on the LEFT end */
.banner .rtl .slick-dots {
  right:-1% !important;
  left: auto !important;
}




.img-frame{
 position: absolute;
top:-20px;
/* left:78px; */
    width: 250px !important;
height:300px !important;
z-index: 3;
}

.with-frame{
position: relative;
z-index: 9;


}

.Notfound #header{
width: 100%;
    margin: 0 0 0 0;
    padding: 6px 2% 6px 2%;
    font-family: "trebuchet MS", Verdana, sans-serif;
    color: #FFF;
    background-color: #555555;
}

.Notfound #header h1{
      font-size: 2.4em;
    margin: 0;
    color: #FFF;
}

.Notfound #content {
    margin: 0 0 0 2%;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 6px #ffffff; /* x-offset, y-offset, blur, color */
   
}

.Notfound{
    margin: 0;
    font-size: .7em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #EEEEEE;
}
.Notfound #content .content-container{
  background: #FFF;
    width: 96%;
    margin-top: 8px;
    padding: 10px;
    position: relative;
} 
.Notfound fieldset{
 
    padding: 0 15px 10px 15px;
        border-width: 2px;
    border-style: groove;
    border-color: gray;
}
.Notfound fieldset h2{
 
  font-size: 1.7em;
    margin: 0;
    color: #CC0000;
  font-weight: bold;


}
.Notfound fieldset h3{
     font-size: 1.2em;
    margin: 10px 0 0 0;
    color: #000000;
     font-weight: bold;
}

.header,.footer{
  background-color: #54585b;
  padding: 15px;
}
.header .icons_bar i {
  color: #fff;
}
.header .icons_bar i:hover {
  color: #fdbd3f;
}
.footer .icons_bar i {
  color: #fdbd3f;
}
button {
    font-size: 1rem;
    font-weight: 400;
    padding: 4px 11px;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.base-footer{
  background-color: #ececec;
  margin-top: 90PX;
}





@media (max-width:768px) {
  .serviceboxes{
    flex-wrap: wrap;
  }
  .banner .boxes .card,.serviceboxes .card{
    flex: 40%;
  }
  .flex-caption h1 {
    font-size: 3rem;
}
.line {
    width: auto !important;
}
    .footer .flex {
        display: flex !important;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .flex .items-center{
      flex-direction: row;
    }
    .slick-dots{
      width: unset !important;
    position: absolute;
    top: 7px;
    right: 0;
    display: inline-block !important;
}
.bannerimg-top{
          height: 50vh;
}
.bannerimg-top img{
                  object-fit: cover;
}
.banner-text{
      padding: 0 10px;
}

.flex-row-reverse >div {
    text-align: center !important;
}
}

.container{
  max-width: 1320px;
  padding: 0 15px;
}
.menu-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.flex-row-reverse >div {
    text-align: right;
}
.line {
    border-bottom: 2px solid #fdbd3f;
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
}





@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
    .flex-caption h1 {
        font-size: 5rem !important;
    }
   
}

@media screen and (max-width: 768px) {
    .bod_list .grid, .bod_list .grid.grid-single {
        grid-template-columns: 300px !important;
    }
    .bod_list_top{
          align-items: start !important;
           padding: 0 73px;
}
    .bod_list_top,.bod_list_bottom{
      padding: 0 11px !important;
}
}
.bod_list .grid  {
     grid-template-columns: 300px 300px 300px;
        row-gap: 45px;
    justify-content: center;
}
.bod_list .grid img {
    height: 250px;
    width: 250px;
}
 .bod_list_top{
          align-items: flex-end;
           
        
}
.with-padding .bod_list_top,.with-padding .bod_list_bottom{
          padding: 0 105px;
}

.no-padding .bod_list_top,.no-padding .bod_list_bottom{
  padding: 0 2px;
}

.bod_list_top .text-wrap {
    font-size: 25px;
    max-width: 390px;
    /* max-width: 100%; */
}


.hidden .counter h3 {
    
     font-size: 4.5rem; 
    
}

.chat {
  position: fixed;
      bottom: 5px;
    inset-inline-end: 2rem;
  z-index: 1025;
  border-radius: 50%;
  background-color: #25d366;
  width: 40px;
  height: 40px;
}
.chat img {
  padding: 8px;
}

#totop{
  font-weight: 900;
  color: #fff;
  display: none;
  position: fixed;
  right: 34px;
  bottom: 60px;
  z-index: 999;
  height: 0;
  width: 0;
  font-size: 0;
  text-align: center;
  padding-top: 3px;
  line-height: 34px;
  border-radius: 6px;
  transition: .3s ease-in-out;
}
#totop.top-visible{
  background-color: #267139;
  height: 40px;
  width: 40px;
  font-size: 25px;
  display: flex;
    justify-content: center;
    align-items: center
}

@keyframes jump {
0% { bottom: 20px; } 50% { bottom: 40px; } 100% { bottom: 20px; }
}
.ar-lang{
  font-family: 'none';
}
.twittericon {
    filter: invert(1);
    width: 12px !important;
}

.stickyDown{
      animation: slideInDown .8s;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about_mawarid .about_section h3 {
    color: #54585b;
    font-size: 34px;
    font-family: 'DINNextLTArabic-Bold';
    margin-bottom: 20px;
}
.about_mawarid .about_section p {
    color: #9a9897;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'DINNextLTArabic-Medium';
}
/* .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
} */
.bod_list h1 {
    color: #54585b;
    font-family: 'DINNextLTArabic-Bold';
}
.about_mawarid h1, .about_mawarid h2, .about_mawarid h5, .about_mawarid h6 {
    color: #54585b;
    font-family: 'DINNextLTArabic-Bold';
}
ul.list-disc {
    padding: 0 40px;
}

.Elite-form form label{
  font-size: 20px;
}

.swal2-icon.swal2-warning.swal2-icon-show,
.swal2-container.swal2-center.swal2-backdrop-show {
  --swal2-icon-animations: none !important;
  animation: none !important;
}



.swal2-icon.swal2-warning.swal2-icon-show,
.swal2-container .swal2-center .swal2-backdrop-show .swal2-html-container{
  margin-top: 24px !important;
}
.swal2-icon.swal2-success.swal2-icon-show ~ .swal2-html-container {
  --swal2-html-container-padding: 2px;
}
div:where(.swal2-container) button:where(.swal2-styled){
  padding: 0.625em 2em !important;
  background-color: #3085d6 !important;

 
}
